.carro_titulo{
    text-align: center;
    text-transform: uppercase;
    color: purple;
    padding: 1em 0.5em;

}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev,

.swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: .5em;
}

.card{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    background-image: linear-gradient(blue, pink);
}
.card_detail{
    display: flex;
}

@media screen and(min-width:1024px){
    .carro_titulo{
        font-size: 26px;
    }

    .swiper-pagination{
        margin: 2em 0 3em 0;
    }

    .swiper{
        width: 60%;
    }

    .swiper-button-next, .swiper-button-prev{
        display: block;
        top: 60%;
    }

    .card{
        width: 40%;
        margin: 2em auto;
    }
    
}

@media screen and (min-width:1728px) {
    .conts_carro{
        display: flex;
    }
}